/* Google Fonts:Georama */

@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georama', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

.container video{
    width: 100%;
    height: 100%;
}

.text-box{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    mix-blend-mode: multiply;
    text-transform: uppercase;
}